.login-card1 {
  height: 500px;
  width: 1000px;
  background-color:  #E8E8E8;
  border-radius: 1%;
  box-shadow: 5px 5px 5px rgb(121, 119, 119);
  margin-top: 50px;
  margin-left: 180px;
  display: flex;    
             
}

.left-section {
  flex: 1;                    
  display: flex;
  flex-direction: column;   /* 🔹 stack children vertically */
 
  align-items: flex-start;    
  justify-content: flex-start;  
  padding: 20px;
}

.login-card2 {
  flex: 1;                      
  background-color: #F5F5F5 ;
  border-radius: 1%;
   display: flex;              
  flex-direction: column;     
  align-items: start;       
  
}

.logo {
  height: 40px;
  width: 150px;
  margin-left: 10px;
  
}

.loginlottie{
    width: 400px;
    height: 500px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.signup-text{
     
    color: #FF6523 ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
     width: 100%; 
     margin-top: 30px;
    
}

.emailpass-text{
    color:#6D6664;
    font-weight: normal;
    margin-left: 70px;
}

.username-text{
     color:#6D6664;
    font-weight: normal;
    margin-left: 70px;
}

.emailin{
 
    border-color: #6D6664;
    height: 35px;
    width: 70%;
  padding: 10px;
  border: 1px solid #6D6664;   
  border-radius: 10px;       
    margin-left: 70px;

  outline: none; 
}

.forgot{
    font-size:small;
    margin-left: 300px;  
    margin-top: 10px;

}
.forgot:hover{
    cursor: pointer;
}

.login{
    width: 100px;
    height: 30px;
     border-radius: 10px;  
     margin-top: 30px;
     margin-left: 180px;
       background-color: #6D6664;
  font-family: inherit;
  font-weight:bolder;
  font-size: medium;
  color: #F5F5F5;

} 
.login:hover{
    cursor: pointer;
    background-color: #4a4543; 
   color: white; 
}

.register{
     font-size:small;
     margin-top: 20px;
     display: flex;    
     padding-left: 130px; 
}

.register2{
    padding-left: 5px;
    color: #FF6523;
}
.register2:hover{
    cursor: pointer;
}
