/*#F5F5F5  -- white
#FF6523  -- orange
*/

.navbbar{
    height: 50px;
    margin-right: 0px;
    border-bottom: 1px solid #ccc; 
    justify-content:flex-start;
    
   
}
*{
     margin:0;
     box-sizing: border-box;  
     font-family: "Söhne", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #6D6664;
    

}